$font-black: #002240;
$blue: #0688FA;
$sub-blue: #537089;
$progress-bg: #EFF8FF;
$footer-bg: #F4F4F4;

.buttonBlue {
  box-sizing: border-box;
  border: none;
  padding: 1vh 2vh 1vh 2vh;
  border-radius: 5px;
  background: $blue;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid $blue;
}

.buttonOutline {
  box-sizing: border-box;
  border: none;
  padding: 1vh 2vh 1vh 2vh;
  border-radius: 5px;
  background: none;
  border-color: $blue;
  border: 1px solid $blue;
  color: $blue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.textTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
}

.textSubTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 38px;
}

.textNormal {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.docWidth {
  width: 65vw;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 63vw;
  margin: auto;

  .navLinkBox {
    width: 20vw;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: $font-black;
      font-style: normal;
      font-size: 18px;
      font-weight: bold;
      line-height: 23px;
      text-align: center;
    }
  }

  .loginButtonBox {
    width: 14vw;
    display: flex;
    justify-content: space-between;
  }
}

.SWlogo {
  background-image: url('../resources/saleswhale_logo.svg');
  height: 32px;
  width: 186px;

}

.headerBody {
  height: 900px;

  .headerImage {
    background-image: url('../resources/header_img.svg');
    height: 300px;
    width: 63vw;
    margin: auto;
    margin-bottom: 7vh;
    margin-top: 5vh;
    border-radius: 5px;
  }

  .headerTextBox {
    display: flex;
    justify-content: space-evenly;

    .introText {
      margin: 0;
      width: 30vw;
    }
  
    .headerTitle  {
      margin: 0;
      width: 25vw;
    }
  }
}

.cultureBody {
  margin-bottom: 10vh;

  .cultureBottomDesc{
    width: 100%;

    p {
      text-align: center;
      margin-bottom: 4vh;
    }

    button {
      margin: auto;
      display: block;
    }
  }

  .cultureTitle {

    h1 {
      text-align: center;
    }

    p {
      color: $sub-blue;
      text-align: center;
    }
  }

  .cultureItemBox {
    display: flex;
    justify-content: space-between;
    margin: 8vh 0 8vh 0;
  }
}

.cultureItemBody {
  display: flex;
  flex-direction: column;
  width: 19vw;

  .cultureIcon {
    width: 80px;
    height: 80px;
    background-image: url('../resources/user_icon_1.svg');
  }

  .CITextBody {
    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 34px;
    }
  
    p {
      color: $sub-blue;
    }
  }
}

.progressBody {
  h1 {
    text-align: center;
    margin-bottom: 8vh;
  }

  .timeLineBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3vh 0 6vh 7vw;
    background-color: $progress-bg;
    border-radius: 5px;
    height: 80vh;
    z-index: -1;
  }

  .timeLineBox::before {
    position:absolute;
    z-index: 1;
    top:0;
    left:14.7vw;
    width: 0.5%;
    height:100%;
    content:"";
    background-color: $blue;
  }

}

.timeLineItem {
  display: flex;
  align-items: center;
  z-index: 1;

  .timeLineImg {
    height: 80px;
    width: 80px;
    background-image: url('../resources/mail.svg');
    margin: 0 3vw 0 3vw;
  }

  .itemYear {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    color: $blue;
  }

  .itemDesc {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
  }
}

.infoItemBody::before {
  position:absolute;
  z-index: -10;
  top:30vh;
  left:-10vw;
  width: calc(100vw + 1000px);
  height:27%;
  content:"";
  background-color: #FFF5F5;;
  transform: rotate(7deg);
}

.infoItemBody {
  position: relative;
  background-image: url('../resources/mid_logo.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 18vh;
  background-position: 0 25vw;

  .officeBox {

    .officeIcon {
      height: 80px;
      width: 80px;
      background-image: url('../resources/user_icon_2.svg');
    }
    h1 {
      text-align: center;
    }

    .officeSpacer {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .investorBox {
    margin-top: 18vh;

    .investorSpacer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    h1 {
      text-align: center;
    }
  }
}

.infoBody {
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  height: 27vh;
  width: 25vw;
  background-color: white;
  margin: 5vh 0 5vh 0;

  .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      background-repeat: no-repeat;
    }
  }

  .combinatorLogo {
    height: 101px;
    width: 385px;
    background-image: url('../resources/investors/combinator_logo.svg');
  }
  .monksHillLogo {
    height: 137px;
    width: 275px;
    background-image: url('../resources/investors//monks_hill.svg');
  }
  .striveLogo {
    height: 55px;
    width: 226px;
    background-image: url('../resources/investors/strive.svg');
  }
  .wavemakerLogo {
    height: 140px;
    width: 304px;
    background-image: url('../resources/investors/wavemaker_logo.svg');
  }

  .office {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.5vh;
    box-sizing: border-box;

    h2 {
      margin: 0;
      margin: 1.5vh 0 1vh 0;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 34px;
    }

    p {
      margin: 0;
      width: 50%;
      text-align: center;
    }
  }
}

.futureBody {
  margin-top: 13vh;
  margin-bottom: 7vh;

  .futureButtonSpacer {
    width: 28vw;
    display: flex;
    justify-content: space-between;

    button {
      width: 250px;
      height: 60px;
    }

    .invertBlue {
      background-color: white;
      color: $font-black;
      border-color: white;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .invertOutline {
      color: white;
      border-color: white;
    }
  }

  .futureBox {
    width: 100%;
    height: 40vh;
    margin: auto;
    background-color: $blue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      text-align: center;
      color: white;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 120%;
      margin-top: 0;
    }
  
  }
}

.footerBody {
  .linkSection {
    display: flex;
    justify-content: flex-end;
    padding: 6vh 0 5vh 0;

    .linkBox {
      margin: 0 1vw 0 1vw;
      display: flex;
      flex-direction: column;

      p {
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 42px;
      }

      a {
        margin: 1vh 0 1vh 0;
        text-decoration: none;
        color: $font-black;
      }
    }

    .contactBox {
      width: 11vw;
      margin-left: 3vw;

      .miniTitle {
        display: inline-block;
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 42px;
        margin: 2vh 0 0 0;
      }

      .miniDesc {
        margin: 0;
        text-decoration: none;
        color: $font-black;

        a {
          display: inline-block;
        }
      }
    }

  }

  .footerEnd {
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 5vh 3vw 0 3vw;
    box-sizing: border-box;

    .termsBox {
      width: 7vw;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: $font-black;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
      }
    }

    .socialBox {
      width: 8vw;
      display: flex;
      justify-content: space-between;
    }
  }
}

.socialIcon {
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}

.facebookIcon {
  background-image: url('../resources/socials/facebook.svg');
}

.twitterIcon {
  background-image: url('../resources/socials/twitter.svg');
}

.linkedInIcon {
  background-image: url('../resources/socials/linkedin.svg');
}

.footerBG {
  position: relative;
  background-color: $footer-bg;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url('../resources/footer_waves.svg');
  background-position: bottom;
  background-size: 100%;
}

.footerBG::before {
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  width:100%;
  height:55%;
  content:"";
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .buttonBlue {
    font-size: 16px;
    line-height: 20px;
  }

  .buttonOutline {
    font-size: 16px;
    line-height: 20px;
  }
  .docWidth {
    width: 80vw
  }

  .textTitle {
    font-size: 32px;
    line-height: 40px;
  }
  
  .textSubTitle {
    font-size: 16px;
    line-height: 24px;
  }
  
  .textNormal {
    font-size: 16px;
    line-height: 24px;
  }

  .nav {
    width: 83vw;
    height: 8vh;
    .navLinkBox, .loginButtonBox {
      display: none;
    }
  }

  .headerBody {
    .headerImage {
      margin: 2vw 0 5vw 0 !important;
      width: 100%;
      background-position: 40% 0;
    }

    .headerTextBox {
      justify-content: space-between !important;
      .headerTitle {
        width: 35vw;
      }
      .introText {
        width: 40vw;
      }
    }
  }

  .cultureItemBody {
    width: 24vw;

    .cultureIcon {
      height: 60px;
      width: 60px;
      background-size: cover;
    }

    h3 {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }

  .cultureBody {
    .cultureItemBox {
      margin: 5vh 0 5vh 0;
    }

    .textSubTitle {
      width: 55vw;
      margin: auto;
    }
  }
  
  .progressBody {
    h1 {
      margin-bottom: 5vh;
    }

    .timeLineBox {
      padding: 2vh 0 2vh 18vw !important;
      height: 70vh;
    }
  
    .timeLineBox::before {
      left:27.5vw !important;
    }
  }

  .timeLineItem {
    width: 70vw;

    .timeLineImg {
      height: 55px;
      width: 55px !important;
      background-size: cover;
      margin: 0 2vw 0 2vw;
    }

    .itemDesc, .itemYear {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }

    .itemDesc {
      width: 44vw;
    }
  }

  .infoItemBody::before {
    top: 25vh;
    height: 30%;
  }

  .infoItemBody {
    margin-top: 10vh;
    background-position: 0 50vw;

    .combinatorLogo {
      height: 62px;
      width: 220px;
      background-size: cover;
    }
    .monksHillLogo {
      height: 86px;
      width: 172px;
      background-size: cover;
    }
    .striveLogo {
      height: 39px;
      width: 160px;
      background-size: cover;
    }
    .wavemakerLogo {
      height: 86px;
      width: 187px;
      background-size: cover;
    }
  }

  .infoBody {
    width: 37vw;
    height: auto;
    margin: 3vh 0 3vh 0;

    .logo {
      height: 15vh;
    }

    .office {
      padding-top: 2.5vh;
      padding-bottom: 2.5vh;

      .officeIcon {
        height: 55px;
        width: 55px;
        background-size: cover;

      }
      h2 {
        font-size: 26px;
        line-height: 34px;
       }

       p {
         width: 70%;
       }
    }
  }

  .investorBox {
    margin-top: 6vh !important;
  }

  .officeSpacer, .investorSpacer {
    justify-content: space-between !important;
  }

  .futureBody {
    margin: 6vh auto 6vh auto;
    height: 20vh;
    width: 90vw;

    .invertBlue {
      width: 150px !important;
      height: 50px !important;
    }

    .invertOutline {
      width: 170px !important;
      height: 50px !important;
    }

    .futureBox {
      height: 20vh;

      h1 {
        font-size: 28px;
        line-height: 120%;
      }
    }

    .futureButtonSpacer {
      width: 50%;
    }
  }

  .footerBody {
    .linkSection {
        flex-wrap: wrap;
        height: 60vh;
        padding-top: 0;

        .linkBox, .contactBox {
          width: 25vw;
          height: 30vh;
          margin-left: 5vw;

          a {
            margin: 0.7vh 0 0.7vh 0;
          }

          .miniTitle {
            margin-top: 1vh ;
          }
        }
    }

    .footerLogo {
      height: 20px;
      width: 120px;
      background-size: cover;
    }

    .footerEnd {
      .termsBox {
        width: 17vw;

        a {
          font-size: 16px;
          line-height: 14px;
        }

        p {
          font-size: 14px;
          line-height: 11px;
        }
      }

      .socialBox {
        width: 17vw;
      }

      .socialIcon {
        height: 30px;
        width: 30px;
        background-size: cover;
      }
    }
  }

  .footerBG::before {
    height: 67%
  }
}

@media screen and (max-width: 320px) {
  .headerImage {
    border-radius: 0 !important;
    background-position: 50% 0 !important;
  }
  .headerBody {
    height: auto;
  }

  .headerTextBox {
    flex-direction: column;
    align-items: center;
    
    .headerTitle {
      width: 80vw !important;
      margin: 2vh 0 2vh 0 !important;
    }

    .introText {
      width: 80vw !important;
    }
  }

  .textTitle {
    text-align: left !important;
    margin: 12vh 0 2vh 0;
  }

  .textSubTitle {
    text-align: left !important;
    width: 81vw !important;
    margin: 0 !important;
  }

  .cultureItemBox {
    flex-direction: column;
    align-items: center;
  }

  .cultureItemBody {
    width: 80vw;
    margin: 2vh 0 0 0;
  }
}